{{#> app}}
 {{#*inline "content"}}
        <div class="card text-center border-top-0 border-bottom-0 border-start-0 border-end-0 bg-body-secondary text-white">
            <div class="card-body">
                <h1 class="card-title">About Me 🌄🌵</h1>
                <p class="card-text">I was born and raised in Phoenix, AZ and currently live in Austin, TX. When I am not writing code I am usually playing games, lifting heavy weights, or spending quality time with friends and family!</p>
                <p class="card-text">I also like to travel, below are a few selfies of me in different places. I hope you like them! (click the left or right side of image)</p>
            </div>
        </div>
        <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="/cherry-blossoms-1440.jpg" class="d-block w-100" alt="...">
            </div>
             <div class="carousel-item active">
                <img src="/japan-lake-1440.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/jungle.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/barcelona.jpg" class="d-block w-100" alt="...">
            </div>   
            <div class="carousel-item">
                <img src="/img-1298.jpg" class="d-block w-100" alt="...">
            </div>   
            <div class="carousel-item">
                <img src="/img-1321.jpg" class="d-block w-100" alt="...">
            </div>   
            <div class="carousel-item">
                <img src="/sunglasses-again.jpg" class="d-block w-100" alt="...">
            </div>   
            <div class="carousel-item">
                <img src="/valencia.jpg" class="d-block w-100" alt="...">
            </div>                    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
 {{/inline}}
{{/app}}