{{#> app}}
 {{#*inline "content"}}
    <div class="row text-white">
      <div class="col-sm-6">
        <div class="card border-top-0 border-bottom-0 border-start-0 border-end-0">
          <div class="card-body bg-body-secondary">
            <h1 class="card-title">Hello there —</h1>
            <h5 class="card-title">I'm Cody. I'm a Software Developer focusing on Backend Development with Java and Spring</h5>
            <p class="card-text">I enjoy building scalable applications with Java!</p>
              
              <p>As a fun side project, I've been learning some frontend development with Bootstrap. I used Bootstrap + <a href="https://handlebarsjs.com/">handlebars</a> to create this site. 
              I also use <a href="https://handlebarsjs.com/guide/#partials">partials</a> for layout design.</p>
            <p>You are welcome to take a look at my <a href="/portfolio">portfolio</a> to see my work.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <img class="w-75" src="/zilker.jpg" alt="">
      </div>
    </div>
    
  <div class="card mb-5 pb-4 border-top-0 border-bottom-0 border-start-0 border-end-0 bg-body-secondary text-white">
    <div class="card-body">
      <h1 class="card-title">Java Backend Development</h1>
      <p>I focus on Backend REST API development using Java and Spring. Here is a list of my skills:</p>
      <ul class="list-group">
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action"><b>Dev Tools</b></li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">AWS CodePipeline</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">AWS Elastic Beanstalk</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">BitBucket</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Git</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">GitHub</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Intellij Ultimate</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Insomnia</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Jenkins</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Postman</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">VSCode</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action"><b>Languages and Software</b></li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Express.js</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Hibernate</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Java</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">JavaScript</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Jest</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">JUnit</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Kibana</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">NestJS</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Spring</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">SQL</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Swagger</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Typescript</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">HTML</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">CSS</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action"><b>Processes</b></li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Agile</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Scrum</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">CI/CD</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Integration Testing</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Unit Testing</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">E2E Testing</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action"><b>Productivity Tools</b></li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Azure DevOps</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">Confluence</li>
        <li class="list-group-item bg-body-secondary text-white border-white list-group-item-action">JIRA</li>
    </ul>
    </div>
  </div>
 {{/inline}}
{{/app}}