{{#> app}}
 {{#*inline "content"}}
    <div class="container mb-5 pb-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom-0 bg-body-secondary">
                <div class="card bg-body-secondary text-white border-0">
                    <div class="card-body bg-body-secondary">
                        <h1 class="card-title">My Portfolio Site</h1>
                        <a href="/">codyobenson.com</a> - <a href="https://github.com/Cody-Benson/mysite">github</a>
                        <p>I created this portfolio site myself using bootstrap/handlebars for the frontend and NestJS for the backend. I followed a MVC design pattern.</p>
                        <p>The models (modules/services) and controllers are written in typescript and the views are written in handlebars/bootstrap, along with handlebar partials for layouts.</p>
                        <p>The deployment is automated with a CI/CD workflow utilizing AWS CodePipeline, EC2, and Beanstalk</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-bottom-0 bg-body-secondary">
                <div class="card bg-body-secondary text-white border-0">
                    <div class="card-body bg-body-secondary">
                        <h1 class="card-title">Java Spring REST API</h1>
                        <p>Spring Rest API - <a href="https://github.com/Cody-Benson/spring-rest">github</a></p>
                        <p>Sample REST CRUD API I made to demonstrate my understanding of the Spring framework and REST fundamentals.</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-body-secondary text-white border-white"><h5>Features</h5></li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Users CRUD API</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Custom Exception Handling</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">JPA Repository with SQL database integration</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">SQL scripts for setup</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">JDBC configuration using application.properties</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-bottom-0 bg-body-secondary">
                <div class="card bg-body-secondary text-white border-0">
                    <div class="card-body bg-body-secondary">
                        <h1 class="card-title">NestJS REST API</h1>
                        <p>nest.js Rest API - <a href="https://github.com/Cody-Benson/nestjs-rest-api">github</a></p>
                        <p>Sample REST CRUD API I made to demonstrate my understanding of the NestJS framework and REST fundamentals.</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-body-secondary text-white border-white"><h5>Features</h5></li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Users CRUD API</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Unit testing with Jest</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Dependency mocking inside unit tests</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Middleware logger</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">SQL database integration with typeorm</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Configuration using env variables</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Request processing and validation</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item bg-body-secondary border-white">
                <div class="card bg-body-secondary text-white border-0">
                    <div class="card-body">
                        <h1 class="card-title">Online Store Sample Project</h1>
                        <h4>Online store application following <a href="https://github.com/PracticalBooks/Practical-Nest">Practical Nest.js</a> By Daniel Correa &amp; Greg Lim</h2>
                        <p>Practical Nest.js is a great book for learning MVC using NestJS. This book guides you through building an online store application with NestJS and bootstrap.</p>
                        <p>I finished building the site and uploaded my own <a href="https://github.com/Cody-Benson/online-store">repo</a>.</p>
                        <p>below is the list of key features of the site:</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-body-secondary text-white border-white"><h5>Features</h5></li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Backend development with NestJS</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Frontend development with bootstrap/handlebars</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">MVC design pattern</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Reusable Layouts with handlebar partials</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Templating html content with handlebars</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">SQL database integration with typeorm</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Fully functional log-in system</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Session stored with express-session</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Store cart implementation enabling buying of products</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Order history stored in SQL database</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">User authentication</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Authorization with roles</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Admin dashboard requiring admin login</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Product database</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Code standard maintained by esLint</li>
                            <li class="list-group-item bg-body-secondary text-white border-white">Validations using validator for image file types.</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
 {{/inline}}
{{/app}}