{{#> app}}
 {{#*inline "content"}}
    <div class="container mb-5 pb-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">My Portfolio Site</h1>
                        <a href="/">codyobenson.com</a> - <a href="https://github.com/Cody-Benson/mysite">github</a>
                        <p>I created this portfolio site myself using bootstrap/handlebars for the frontend and NestJS for the backend. I followed a MVC design pattern.</p>
                        <p>The models (modules/services) and controllers are written in typescript and the views are written in handlebars/bootstrap, along with handlebar partials for layouts.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Online Store Sample Project</h1>
                        <h4>Online store application following <a href="https://github.com/PracticalBooks/Practical-Nest">Practical Nest.js</a> By Daniel Correa &amp; Greg Lim</h2>
                        <p>Practical Nest.js is a great book for learning MVC using NestJS. This book guides you through building an online store application with NestJS and bootstrap.</p>
                        <p>I finished building the site and uploaded my own <a href="https://github.com/Cody-Benson/online-store">repo</a>.</p>
                        <p>below is the list of key features of the site:</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><h5>Features</h5></li>
                        <li class="list-group-item">Backend development with NestJS</li>
                        <li class="list-group-item">Frontend development with bootstrap/handlebars</li>
                        <li class="list-group-item">MVC design pattern</li>
                        <li class="list-group-item">Reusable Layouts with handlebar partials</li>
                        <li class="list-group-item">Templating html content with handlebars</li>
                        <li class="list-group-item">SQL database integration with typeorm</li>
                        <li class="list-group-item">Fully functional log-in system</li>
                        <li class="list-group-item">Session stored with express-session</li>
                        <li class="list-group-item">Store cart implementation enabling buying of products</li>
                        <li class="list-group-item">Order history stored in SQL database</li>
                        <li class="list-group-item">User authentication</li>
                        <li class="list-group-item">Authorization with roles</li>
                        <li class="list-group-item">Admin dashboard requiring admin login</li>
                        <li class="list-group-item">Product database</li>
                        <li class="list-group-item">Code standard maintained by esLint</li>
                        <li class="list-group-item">Validations using validator for image file types.</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
 {{/inline}}
{{/app}}